<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Burn Book Club</h1>

  <h2>
    This is the home page for gossip on EVERYONE, only members can see the author but you can
    still sign up. </br>(totally not a Mean Girls movie reference.)
  </h2>
</div>
