<footer class="footer">
  <small>
    The Burn Book Club 2016 By Roberto Pando
  </small>
  <nav>
    <ul>
      <li>Inspiration Project from</li>
      <li><a href="http://www.theodinproject.com/">TOP</a></li>
      <li>And</li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>